{% extends 'app/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h3>Bill amount: ${{ amount }}</h3>

{% if response %}
<div class="row">
    <div class="span10">
        <div class="alert alert-block">
            <a class="close">×</a>
            <h4 class="alert-heading">Response:</h4>
            <p>{{ response }} </p>
        </div>
    </div>
</div>
{% endif %}

<form class="form-horizontal well" method="post" action="{{ integration.service_url }}">
    {% csrf_token %}
    <fieldset>
        <legend>Using Payment Backend: {{ title }}</legend>
        {{ form|crispy }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn">Cancel</button>
        </div>
    </fieldset>
</form>
{% endblock %}
